.bkgrnd {
    position: absolute;
    width: 100%;
    height: auto;
    top: -9px;
}

.luna {
    position: absolute;
    left: 14.86%;
    right: 79.79%;
    top: 1.01%;
    bottom: 97.07%;
}

.fb {
    position: absolute;
    left: 53.12%;
    right: 46.11%;
    top: 0.77%;
    bottom: 98.58%;    
}

.tt {
    position: absolute;
    left: 56.1%;
    right: 42.28%;
    top: 0.81%;
    bottom: 98.62%;
}

.ig {
    position: absolute;
    left: 59.93%;
    right: 38.42%;
    top: 0.77%;
    bottom: 98.53%;
}

.ini {
    position: absolute;
    width: 41px;
    height: 17px;
    left: 584px;
    top: 67px;    
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.porta {
    position: absolute;
    width: 69px;
    height: 17px;
    left: 658px;
    top: 67px;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.about {
    position: absolute;
    width: 92px;
    height: 17px;
    left: 763px;
    top: 67px;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.flag {
    position: absolute;
    left: 63.76%;
    right: 38.1%;
    top: 13.5%;
    bottom: 97.53%;

}

.dropdown  {
    display: inline-block;
}

.arrow {
    cursor: pointer;
}

.content {
    display: inline-block;
    position: absolute;
    background-color: rgb(198, 178, 216);
}

.hola {
    position: absolute;
    left: 12.49%;
    right: 81.6%;
    top: 27.16%;
    bottom: 90.19%;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.ux {
    position: absolute;
    left: 12.49%;
    right: 60.83%;
    top: 45.59%;
    bottom: 86.76%;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.mellamo {
    position: absolute;
    left: 11.49%;
    right: 51.59%;
    top: 35.99%;
    bottom: 87.85%;
}